body {
 color: #4f5354;
display: flex;
flex-direction: row;
justify-content: center;
font-family: 'Quicksand',Arial,Helvetica, sans-serif;
background: rgb(27,187,247);
background: radial-gradient(circle, rgba(27,187,247,1) 3%, rgba(70,104,252,1) 89%);}

form {
    display: flex;
    flex-direction: column;
    margin-top: 270px;
    margin-left: 0px;
}

.options a{
    text-decoration: none;
    margin-left: 5px;
    color: white;
}

    input{
        color: black;box-shadow: -3px 1px 32px 3px rgba(48,48,48,0.61);
        -webkit-box-shadow: -3px 1px 32px 3px rgba(48,48,48,0.61);
        -moz-box-shadow: -3px 1px 32px 3px rgba(48,48,48,0.61);
        border-radius: 5px;
    }

    button {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        border: none;
        background-color: white;
        margin-top: 15px;
font-family: 'Quicksand',Arial,Helvetica, sans-serif;
        width: 80px;
        border-radius: 5px;
        box-shadow: -3px 1px 32px 3px rgba(48,48,48,0.61);
-webkit-box-shadow: -3px 1px 32px 3px rgba(48,48,48,0.61);
-moz-box-shadow: -3px 1px 32px 3px rgba(48,48,48,0.61);
    }

    a {
        text-decoration: none;
    }